body {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  background-image: linear-gradient(#d34b8d, #ff796b, #ffa55b, #ffd467);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
